node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.git
.gitignore

.env
.env.*
!.env.example

dist
coverage

Dockerfile
docker-compose.yml
docker-compose.yaml
.dockerignore

.vscode
.idea

*.log
.DS_Store
